<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <title>Sign Up</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <!--Add a registration form here -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h2 class="text-center">Sign Up</h2>
          <form action="{% url 'djangoapp:registration' %}" method="post">
            <!-- User Name -->
            <div class="form-group">
              <label for="username">User Name</label>
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="Enter User Name"
                required
              />
            </div>
            <!-- First Name -->
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input
                type="text"
                class="form-control"
                id="firstname"
                placeholder="Enter First Name"
                required
              />
            </div>
            <!-- Last Name -->
            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="lastname"
                placeholder="Enter Last Name"
                required
              />
            </div>
            <!-- Password -->
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Enter Password"
                required
              />
            </div>
            <!-- Submit Button -->
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
